body {
  background-color: black;
  color: white;
}
.inputField {
  width: 300px;
  height: 5vh;
  font-size: 20px;
  font-weight: bold;
}
.labelHeading {
  font-size: 22px;
  padding-bottom: 30px;
  font-weight: bold;
}
.inpFieldParent {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
}
.paymentMethod {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  gap: 35px;
}